doctype html
html
  head
    title Car Club
    link(rel='stylesheet', type='text/css', href='/static/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='/static/css/style.css')
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.8.1/css/all.css", integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf", crossorigin="anonymous")
  body
    nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          a.navbar-brand(href='index.html') CAR CLUB
        ul.nav.navbar-nav.navbar-right
          li
            a(href='home.html') Home
          li
            a(href='profile.html') Profile
          li
            a(href='#') Logout
    main.container
      .row
        .col-md-2#side-bar-left
          .panel.panel-default
            .panel-body
              h4 Friend requests
              ul
                li
                  img(src='https://api.adorable.io/avatars/1') 
                  a(href='#', style='display:inline-block') johndoe
                  div(style="display:block;text-align:center;margin-bottom:20px")
                    a.text-success(href='#') [accept] 
                    a.text-danger(href='#') [decline]
                li
                  img(src='https://api.adorable.io/avatars/12') 
                  a(href='#', style='display:inline-block') johndoe2
                  div(style="display:block;text-align:center;margin-bottom:20px")
                    a.text-success(href='#') [accept] 
                    a.text-danger(href='#') [decline]
          .panel.panel-default
            .panel-body
              h4 Friend list
              ul
                li
                  img(src='https://api.adorable.io/avatars/1') 
                  a(href='#', onclick="registerPopup('1', 'Ex1')") Ex1
                li
                  img(src='https://api.adorable.io/avatars/2') 
                  a(href='#', onclick="registerPopup('2', 'Ex2')") Ex2
                li
                  img(src='https://api.adorable.io/avatars/3') 
                  a(href='#', onclick="registerPopup('3', 'Ex3')") Ex3
                li
                  img(src='https://api.adorable.io/avatars/4') 
                  a(href='#', onclick="registerPopup('4', 'Ex4')") Ex4
          .panel.panel-default
            .panel-body
              h4 Group
              ul
                li
                  img(src='https://api.adorable.io/avatars/10') 
                  a(href='#', onclick="registerPopup('Group1', 'Group1')") Group1
        .col-md-12
          .input-group#newPost
            textarea.form-control(name='content', placeholder='Make a post...')
            span.input-group-btn
              button.btn.btn-default(type='submit', name='post') Post
          hr
          .panel.panel-default
            .panel-body
              .image-content(style="text-align:center")
                img(style="border-radius:5px; margin-bottom:20px;width:700px; height:400px", src='/static/images/fiesta_st_ford_performance_edition_limited_to_600_units.jpg') 
              h3
                | Ford has announced a Performance Edition of its third-generation Fiesta ST to celebrate a year since the first examples of the model hit UK roads
              p 
                | Making a car move is simple: you need a motor and power source.
                | For most, that means petrol, diesel, electric or a combination of them. Yet there are other options out there, some more practical than others, so what else could you be using to drive?
                | From steam to pedal power, there are more ways to make a car move than you might think. Here, we have the run-down on the strangest options out there ...
              .detail(style="text-align: center")
                a(href="#", title="title") Detail
            .panel-footer
              span
                a.text-danger(href='#')
                  i.far.fa-comments 
                  | Comment
              span.pull-right posted 2017-5-27 20:45:01 by nicholaskajoh
          .panel.panel-default
            .panel-body
              .image-content(style="text-align:center")
                img(style="border-radius:5px; margin-bottom:20px;width:700px; height:400px", src='/static/images/db4_gt_zagato_production_01.jpg') 
              h3
                | Ford has announced a Performance Edition of its third-generation Fiesta ST to celebrate a year since the first examples of the model hit UK roads
              p 
                | Making a car move is simple: you need a motor and power source.
                | For most, that means petrol, diesel, electric or a combination of them. Yet there are other options out there, some more practical than others, so what else could you be using to drive?
                | From steam to pedal power, there are more ways to make a car move than you might think. Here, we have the run-down on the strangest options out there ...
              .detail(style="text-align: center")
                a(href="#", title="title") Detail
            .panel-footer
              span
                a.text-danger(href='#')
                  i.far.fa-comments 
                  | Comment
              span.pull-right posted 2017-5-27 20:45:01 by nicholaskajoh
          .panel.panel-default
            .panel-body
              p Hello people! This is my first FaceClone post. Hurray!!!
            .panel-footer
              span posted 2017-5-27 20:45:01 by nicholaskajoh
              span.pull-right
                a.text-danger(href='#') [delete]
        .col-md-2#side-bar-right
          .panel.panel-default
            .panel-body
              h4 Total chat
              .form-control#totalChatBox
                .chat-message
                    img(src='https://api.adorable.io/avatars/1')
                    span.chat-all-message  
                      | Hello
                .chat-message(style='text-align:right;')
                  p(style='font-size:11px')
                    | Username
                  span.chat-all-message
                    | Hello 
                  img(src='https://api.adorable.io/avatars/2')
                .chat-message
                    img(src='https://api.adorable.io/avatars/1')
                    span.chat-all-message  
                      | :)
              input.form-control(type='text', name='content', placeholder='Make a chat...')
      footer.container.text-center
      script(type='text/javascript', src='/static/js/jquery-3.3.1.min.js')
      script(type='text/javascript', src='/static/js/bootstrap.min.js')
      script(type='text/javascript', src='/static/js/chat.js')
      script(type='text/javascript', src='/static/js/script.js')
