<!DOCTYPE html>
html
  head
    title= title
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css")
    link(rel="stylesheet", href="/static/css/style.css")
    link(rel='icon', href='/static/images/favicon.ico', type='image/x-icon')
    script(src="/static/js/common.js")
  body
  div.container
    h1 Welcome to dp-cars-club
    p(style='margin-left: 280px') comming soon
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js")
  