doctype html
html
  include ./container/header.pug
  body
    include ./container/navigate.pug
    main.container
      .row
        include ./container/sidebar-left.pug
        include ./container/content.pug
        include ./container/sidebar-right.pug
    include ./container/popup.pug       
    include ./container/script.pug
