head
    title Car Club
    link(rel='stylesheet', type='text/css', href='/static/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='/static/css/style.css')
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.8.1/css/all.css", integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf", crossorigin="anonymous")
    link(rel='icon', href='/static/images/favicon.ico', type='image/x-icon')
    script(src='https://cdn.ckeditor.com/ckeditor5/12.0.0/classic/ckeditor.js')

