#myModal.modal.fade(role='dialog')
  .container
    .modal-dialog
    // Modal content
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal')
          | ×
        h4.modal-title Make your artical
      .modal-body
        textarea#editor(name='content', placeholder='Write something...')
      script.
        ClassicEditor.create(
        document.querySelector('#editor')
        ).catch(error => {
        console.error(error);
        });
      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal')
          | Close
