nav.navbar.navbar-inverse
    .container-fluid
        .navbar-header
            a.navbar-brand(href='index.html')
                p.text-light Cars CLUB
        ul.nav.navbar-nav.navbar-right
            li.active
                a(href='home.html') Home
            li
                a(href='') About us
            li
                a#btn-profile(href='#', style='display: none;') Profile
            li
                a#loginLink(href='#') Login
            li.dropdown
                a.dropdown-toggle#txt-welcome.text-light(style='display: none;',data-toggle='dropdown', href='#')
                    |
                    span.caret
                ul.dropdown-menu
                    li
                    a.btn#btn-logout Logout
            li
                a
                    img.img-welcome#img-auth-avatar(src='/static/images/img-default.png')


