nav.navbar.navbar-default
    .container-fluid
        .navbar-header
            a.navbar-brand(href='index.html') CAR CLUB
        ul.nav.navbar-nav.navbar-right
            li
                a(href='home.html') Home
            li
                a(href='profile.html') Profile
            li
                a#loginLink(href='#') Login
            li
                a(href='#') Logout
