nav.navbar.navbar-inverse
    .container-fluid
        .navbar-header
            a.navbar-brand(href='index.html')
                p.text-light Cars CLUB
        ul.nav.navbar-nav.navbar-right
            li.active
                a(href='home.html') Home
            li
                a(href='') About us
            li
                a#btn-profile(href='#', style='display: none;') Profile
            li
                a#loginLink(href='#') Login
            li
                a#txt-welcome.text-light(style='display: none;')
            li
                a
                    img.img-welcome#img-auth-avatar(src='/static/images/img-default.png')
