.col-md-2#side-bar-right
    .panel.panel-default
        .panel-body.border-top-section 
            h4 Total chat
            .form-control#totalChatBox
            input.form-control#totalChatInput(type='text', name='content', placeholder='Say something...', disabled)
    button.btn.btn-default.btn-lg.btn-block.btn-post-article(type='button', data-toggle='modal', data-target='#myModal') + Add a article

