.col-md-2#side-bar-right
    .panel.panel-default
        .panel-body
            h4 Total chat
            .form-control#totalChatBox
                .chat-message
                    img(src='https://api.adorable.io/avatars/1')
                    span.chat-all-message  
                        | Hello
                .chat-message(style='text-align:right;')
                    p(style='font-size:11px')
                    | Username
                    span.chat-all-message
                    | Hello 
                    img(src='https://api.adorable.io/avatars/2')
                .chat-message
                    img(src='https://api.adorable.io/avatars/1')
                    span.chat-all-message  
                        | :)
            input.form-control(type='text', name='content', placeholder='Make a chat...')
