/* styles */

a {
  color: #3b5998;
}

textarea {
  resize: none;
}

.navbar {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.navbar-default {
  background-color: #3b5998;
  border-color: #3b5998;
}

.navbar-default .navbar-brand {
  color: #fff;
}

.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
  color: #fff;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
  color: #fff;
}

.container {
  margin-left: 22%;
  width: 56%;
  margin-top: 80px;
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 3;
}

#side-bar-right {
  position: fixed;
  width: 22%;
  top: 80px;
  right: 0px;
  z-index: 1;
}

#side-bar-left {
  position: fixed;
  width: 22%;
  top: 80px;
  left: 0px;
  z-index: 1;
}

#totalChatBox {
  height: 400px;
  margin-bottom: 15px;
  overflow-y: scroll;
  border-block-end-color: #333;
}

/*popup chat*/

.popup-box {
  display: none;
  position: fixed;
  bottom: 0px;
  left: 17%;
  height: 285px;
  background-color: rgb(237, 239, 244);
  width: 250px;
  border: 1px solid #ddd;
  border-radius: 5px 5px 0px 0px;
  z-index: 2;
}

.popup-box .popup-head {
  background-color: #3b5998;
  padding: 5px;
  color: white;
  font-weight: bold;
  font-size: 14px;
  border-radius: 4px 4px 0px 0px;
  clear: both;
}

.popup-box .popup-head .popup-head-left {
  float: left;
}

.popup-box .popup-head .popup-head-right {
  float: right;
  opacity: 0.5;
}

.popup-box .popup-head .popup-head-right a {
  text-decoration: none;
  color: inherit;
}

.popup-box .popup-messages {
  height: 81%;
  padding: 5px;
  background-color: #fff;
  overflow-y: scroll;
}

.popup-input {
  width: 100%;
  border: 0px;
  border-top: 1px solid #ddd;
  outline: none;
}

.panel-body ul {
  padding: 5px;
}

.panel-body ul li {
  margin: 5px;
}

.panel-body ul li img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.chat-message img {
  width: 25px;
  height: 25px;
}

/* #newPost textarea, */
/* button {
  height: 100px;
} */

#popupLogin {
  display: block;
  background-color: rgba(19, 18, 18, 0.664);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  z-index: 4;
}

.login-wrapper {
  width: 60%;
  height: 350px;
  border-radius: 5px;
  margin-top: 120px;
  padding: 20px;
  background: #fff;
}

.navbar-brand p {
  color: white;
}

body {  
  background-color: rgb(205, 205, 205);
}

.banner img {
  visibility: hidden;
}

.banner {
  background-image: url('/static/images/banner.jpg');
}

.chat-message, .panel-body img {
  border-radius: 50%;
}

.border-left-section {
  border-left: 4px solid #333;
}

.border-top-section {
  border-top: 4px solid #333;
}

.btn-post-article {
  border: 1px solid #333;
}

.input-container {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 3px;
  margin-top: 15px;
}

.icon {
  padding: 10px;
  background: #333;
  color: white;
  min-width: 50px;
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}

.input-field:focus {
  border: 2px solid;
}

.modal-login {
  width: 750px;
  margin: auto;
}

.sign-form {
  margin: auto;
}

.sign-form small {
  display: none;
}

.sign-form button {
  margin-top: 15px;
}
